main {
    font-family: 'Segoe UI',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    padding: 20px;
}

#calculadora-card {
    background-color: rgb(255, 255, 255);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 1200px;
    font-size: 150%;
    
    
}

h1 {
    text-align: center;
    color: #333;
    
}

.input-group {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
 

}

input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    flex: 1;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #00ff2a;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    
}

th {
    background-color: #1eff00a4;
    color: white;
    
}

thead tr {
  background-color: #007bff;
  color: white;
  border-radius: 12px;
}

thead tr th:first-child {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

thead tr th:last-child {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}


.btn-eliminar {
    background-color: #dc3545;
    padding: 5px 10px;
    font-size: 0.8rem;
}

.btn-eliminar:hover {
    background-color: #ff0019;
}

.totales {
    margin-top: 20px;
    text-align: right;
    padding-top: 10px;
    border-top: 2px solid #141414;
}

.config-group {
    margin-bottom: 10px;
    font-size: 0.9rem;
    color: #666;
    font-size: 100%;
}
#Tit{
    color: rgb(53, 173, 53);
    padding: 0px;
    text-align: center;
    border-bottom: 5px;
    border-radius: 10px;
    font-size: 150%;
    
}